<?xml version="1.0"?>
<launch>
  <!-- <node pkg="robot_main" type="robot.py" name="robot_motors" output="screen">
    <param name="track_width" value="0.11"/>
  </node> -->

  <!-- <include file="$(find robot_main)/path/filename.launch"/> -->
  <include file="$(find robot_main)/launch/cameras.launch"/>
  <include file="$(find robot_main)/launch/display_xacro.launch"/>
</launch>